body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.navigation {
  background-image: linear-gradient(to right, black , #545454);
    color: white;
    display: flex;
}

div.navigation .logo {
    display: flex;
    padding: 0px 5px 0px 5px;
}

div.navigation h1{
    margin: 7px 0px 7px 0px;
    font-style: italic;
}

div.navigation img{
    width: 10%;
}

div.navigation .links {
    margin: auto
}

div.navigation div.links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin:0;
}

div.navigation div.links ul li{
    padding: 10px;
}

div.navigation div.links ul li a{
    color: white;
    text-decoration: none;
}

div.navigation div.links ul li a:hover{
    text-decoration: underline;
}
div.navigation .search {
    background-color: white;
    margin: 5px;
    border-radius: 25px;
    padding: 5px;
}

div.navigation .search input{
    width:300px;
    border:0px;
}

div.navigation .search input:focus{
    outline:none;
}
div.navigation .search button{
    background-color: #00757d;
    padding:5px;
    color:white;
    margin: 0px 5px 0px 5px;
    border: 0px;
    border-radius: 5px;
}