body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: ghostwhite;
    line-height: 20px;

}

div.navigation {
    background-image: linear-gradient(to right, black, #545454);
    display: flex;
    justify-content: left;
}

div.navigation .logo {
    display: flex;
    padding: 0px;
    align-items: center;

}

div.navigation h1 {
    margin: 0px;
    font-style: italic;
}

div.navigation img {
    width: 10%;
}

div.navigation .links {
    display: flex;
    align-items: center;
}

div.navigation div.links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

div.navigation div.links ul li {
    padding: 10px;
}

div.navigation div.links ul li a {
    color: white;
    text-decoration: none;
}

div.navigation div.links ul li a:hover {
    text-decoration: underline;
}

div.navigation .search {
    background-color: white;
    margin: auto;
    border-radius: 25px;
    padding: 5px;
}

div.navigation .search input {
    width: 300px;
    border: 0px;
}

div.navigation .search input:focus {
    outline: none;
}

div.navigation .search button {
    background-color: #00757d;
    padding: 5px;
    color: white;
    margin: 0px 5px 0px 5px;
    border: 0px;
    border-radius: 5px;
}

div.container {
    height: 100vh;
    background-image: url('./images/city.jpg');
    display: flex;
    justify-content: start;
    align-items: center;
}

div.container .content {
    margin: auto;
    width: 80%;
}

div.container .content h1 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: normal;
}

div.container .content h2 {
    font-size: 50px;
    line-height: normal;
}



div.container .content h1.title {
    width: 200px;
}

div.container .content div.info {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
}

div.container .content p.intro {
    width: 250px;
}

div.container .content button {
    background-color: #00757d;
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

div.container .content .team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

div.container .content .team .card {
    display: flex;
}

div.container .content .team .card .icon {
    margin-right: 10px;
}

div.container .content .team .details {
    padding: 10px 0px 10px 0px;
}

div.container .content .team .details span {
    display: block
}

div.container .content .team .card .job {
    background-color: #2b446d;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
}

div.container .content .contact_us {
    display: flex;
    justify-content: space-between;
}

div.container .content .form {
    padding: 10px;
}

div.container .content .form input {
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid grey;

}

div.container .content .form label {
    margin: 5px 0px 5px 0px;
    display: block;
}

div.container .content .form textarea {
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid grey;
    resize: none;

}

div.container .content .form button {
    width: 100%;
    margin-top: 10px
}